# the next libraries can be installed with pip install.
# Also read requirements_explained.txt to install other dependencies.
#Django==3.1.3
Django

#django-rosetta==0.9.5
django-rosetta==0.9.8

#django-parler==2.2
django-parler==2.3

#django-localflavor==3.0.1
django-localflavor==3.1

# for string cleaning and text similarity comparison, for address.
Unidecode==1.2.0

#--------------------------------------------------------------------------------

google==3.0.0
google-api-python-client==1.12.8

gunicorn==20.0.4
google-cloud-tasks==2.1.0
#oauth2client==4.1.3 

google-python-cloud-debugger
#google-cloud-storage==1.35.0

#djangorestframework==3.12.4
markdown==3.3.3
#django-filter==2.4.0  
#--------------------------------------------------------------------------------




