<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Welcome to our shopping portal</h1>
    <ul>
        <li><a href="/electronics">Electronics</a> <img src="{% static "productApp/images/electronics.jpg" %}"></img> </li>
        <li><a href="/toys">Toys</a>  <img src="{% static "productApp/images/toys.jpg" %}"></img></li>
        <li><a href="/shoes">Shoes</a>  <img src="{% static "productApp/images/shoes.jpg" %}"></img></li>

    </ul>


</body>
</html>