<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>
    <style type="text/css">
        body {
         background: url('{% static "modelForms/images/lego_02.jpg" %}') no-repeat center center fixed;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
        }
    </style>

    <br>
    <a href="/listProjects" >List Projects</a>
    <br/>
    <a href="/addProject"   >Add Projects </a>
    <br/>


</body>
</html>