<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient List</title>
    <link rel="stylesheet" href="{% static "css/clinicals.css" %}" ></link>
</head>
<body>
    <h1>Patients:</h1>
    <table>
        <thead>
            <th>Id</th>
            <th>First Name</th>
            <th>last  Name</th>
        </thead>

        {% for patient in patient_list%}
        <tr>
            <td>{{ patient.id        }}</td>
            <td>{{ patient.firstName }}</td>
            <td>{{ patient.lastName  }}</td>
            <td>{{ patient.age       }}</td>

            <td><a href="/update/{{patient.id}}" >update</a></td>
            <td><a href="/delete/{{patient.id}}" >delete</a></td>
            <td><a href="/addData/{{patient.id}}" >add Data</a></td>
            <td><a href="/analyze/{{patient.id}}" >analyze Data</a></td>
        </tr>
        {%endfor%}
    </table>
    <br/>
    <a href="create/" >Add Patient</a>


</body>
</html>